/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Nunito+Sans:wght@300;600;800&family=Righteous&display=swap');

/* Root */
:root {
 --color-body: #252728;
 --color-secondary: #2E2F39;
 --color-text: #F4F4F5;
 --color-accent-green: #52B0A3;
 --color-accent-red: #f87272;
}

/* Presets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

body {
 background-color: var(--color-body);
}

img {
  height: 100%;
  max-width: 100%;
}

h1 {
  font-family: "Righteous", sans-serif;
}

h2, h3, h4 {
  font-family: "Lato", sans-serif;
}

p {
  color: var(--color-text);
  font-family: "Lato", sans-serif;
}


.stroke-effect {
    color: var(--color-secondary);
    -webkit-text-stroke: 1px var(--color-text);
}


/* ................. nav hover .......... */

.nav_container a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -1px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav_container a:hover {
  font-weight: 500;
}

.nav_container a:hover:after {
  width: 100%;
  left: 0;
}
.active-page {
  font-weight: 500 !important;
  color: var(--color-text) !important;
}

.active-page::after {
  width: 100% !important;
  left: 0 !important;
}

/* ................. to top element .......... */

#toTop {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.15s;
  background: var(--color-accent-red);
}

#toTop:hover {
  transform: translateY(-10px);
}

.hide {
  opacity: 0;
  right: -100%;
}

.show {
  opacity: 1;
  right: 0;
}



/* ................. Scroll indicator .......... */
.scroll-indicator {
    width: 40px;
    height: 60px;
    border: 2px solid var(--color-accent-green);
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 0px 35px -5px var(--color-accent-green);
}

.scroll-indicator::before {
    content: '';
    position: absolute;
    top: .5em;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--color-accent-green);
    border-radius: 50%;
    transform: translate(-50%, 0);
    animation: scrollAnim 1.8s .5s infinite ease-in;
    box-shadow: 0px 0px 35px -5px var(--color-accent-green);
}
  
/* ................. Scroll indicator animation .......... */
@keyframes scrollAnim {
    0% {
      transform: translate(-50%, 0) rotateX(0);
      opacity: 0;
    }
  
    5% {
      opacity: .5;
    }
  
    15% {
      opacity: 1;
    }
  
    90%,
    100% {
      opacity: 0;
    }
  
    100% {
      transform: translate(-50%, 30px) rotateX(30deg);
    }
}



/* ................. Scroll indicator hover effect .......... */

.scroll-indicator:hover{
background-color: var(--color-accent-green);
cursor: pointer;
}

.scroll-indicator:hover::before{
background-color: var(--color-body);
animation-play-state: paused;

}

/* ................. Screenshots .......... */

.screenshot {
opacity: 0.3;
}

.active-screenshot {
scale: 1.1;
opacity: 1;

}


/* @media */

 @media only screen and (max-width: 640px) { 
  .nav_links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0vh;
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transform: translateX(100%);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    z-index: -1;
    justify-content: flex-start;
    font-size: 1.5rem;
  }

  .nav_toggle {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: var(--color-text);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    background-color: var(--color-text);
  }
} 
