---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
 <main class="mx-4 mt-8 grid justify-center content-center h-[70vh]">
  <div class="flex justify-center items-center flex-col">
   <h1 class="text-accent_green text-3xl text-center">Oops, this page doesn't exist</h1>
   <p class="text-center text-text py-4">Please try another page</p>
   <p class="text-center text-text py-4">Or</p>
   <Button id="back-btn" value="Go back" />
  </div>
 </main>
</MainLayout>

<script>
 const goBackBtn = document.querySelector("#back-btn");

 goBackBtn.addEventListener("click", () => {
  window.history.back();
 });
</script>
