---
import Chip from '@components/Chip.astro'
import MainLayout from '@layouts/MainLayout.astro'
import portrait from '@assets/portrait.png'
import { skills } from '@data/profile'
import { Image } from 'astro:assets'
---

<MainLayout>
  <main
    class="mx-4 mt-8 grid justify-center content-center tablet:mx-12"
    data-aos="fade-up"
    data-aos-delay="150"
  >
    <div class="mb-6">
      <h1 class="text-accent_green text-3xl mobile:text-5xl text-center">
        About me
      </h1>
    </div>
    <article
      class="h-[70vh] bp-730:h-[60vh] flex justify-center items-center flex-wrap desktop:gap-8"
    >
      <p class="max-w-[45ch] pb-6">
        Hello there! I'm Anders, a 24-year-old passionate Web Developer who loves exploring the world of coding. I graduated from KEA - Copenhagen School of Design and Technology, where I delved into both frontend and backend development. My education provided a solid foundation in design principles and user experience, fueling my enthusiasm for creating visually appealing and functional websites. I'm eager to continue exploring this dynamic field and tackle new challenges with creativity and technical expertise.
      </p>
      <Image
        class="w-48 h-48 bp-730:h-[20rem] bp-730:w-[20rem] block mx-auto"
        src={portrait}
        alt="portrat"
      />
    </article>
    <section class="mt-20 mobile:mt-4 pb-4 desktop:h-[20vh] tablet:max-w-3xl">
      <h2 class="text-text text-2xl">Skills and experiences</h2>
      <article class="flex flex-wrap mt-3 justify-start gap-4 pt-2">
        {skills.map((skill) => <Chip value={skill} />)}
      </article>
    </section>
  </main>
</MainLayout>
