---
interface Props {
 value: string;
}
const { value } = Astro.props;
---

<div class="bg-body rounded-xl border flex justify-center items-center border-accent_green text-accent_green h-8 w-28">{value}</div>
