---
import projectImg from "../assets/Screenshot 2023-07-16 at 17.10.26.png";

// const {title} = Astro.props;

---

<!-- width: (100% / n) - (((n -1) / n) * g);
n is the amount of items and g is the gap size. -->

<article class="cursor-pointer transition duration-150 group hover:-translate-y-2">

    <h2 class="text-text text-xl mb-4 group-hover:text-accent_green">Countries API project</h2>
  <!-- width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns))); -->

    <img class="block object-cover h-[260px] " src={projectImg} alt="project-img">
    <p class="py-4 text-base">API project from Frontend Mentor with light/dark theme.</p>


</article>