---

import placeholder from '../assets/placeholder.png'
import twitter from '../assets/twitter.png'




---

<section class="mx-4 my-8">
    <h2 class="text-text text-2xl">Screenshots</h2>

    <article class="mt-3 pt-2 tablet:flex tablet:justify-center tablet:gap-12">
    <div class="max-w-lg">
    <img id="main-screenshot" class="w-full h-full rounded-lg" src={placeholder} alt="">
    </div>

    <div class="flex gap-2 justify-between pt-6 tablet:pt-0 tablet:flex-col">
        <img class="screenshot max-w-[8rem] max-h-32 transition duration-150 cursor-pointer rounded-lg hover:scale-[1.1] hover:opacity-100 active-screenshot"
        src={placeholder} alt="">

        <img class="screenshot max-w-[8rem] max-h-32 transition duration-150 cursor-pointer rounded-lg hover:scale-[1.1] hover:opacity-100" src={twitter} alt="">
        <img class="screenshot max-w-[8rem] max-h-32 transition duration-150 cursor-pointer rounded-lg hover:scale-[1.1] hover:opacity-100" src={placeholder} alt="">

    </div>
    </article>

    
</section>

<script>

const screenshots = document.querySelectorAll(".screenshot");

screenshots.forEach((btn) => {
  btn.addEventListener("click", (e) => {
    

    screenshots.forEach(img => img != e.target ? img.classList.remove('active-screenshot') : '');
    const target = e.target as Element;

    if (target.classList.contains("active-screenshot")) {
        return false;
    } else {

        target.classList.toggle("active-screenshot");

        const activeSrc = document.querySelector(".active-screenshot").getAttribute("src");

        const mainScreenshot = document.querySelector("#main-screenshot") as HTMLImageElement;

        mainScreenshot.src = activeSrc;
    }

  });

});

</script>

