---
import projectImg from "../assets/twitter.png";

// const {title} = Astro.props;

---
<a href="/projects/twitter-clone/" class="">

<article class="cursor-pointer group hover:-translate-y-2 transition duration-150">

    <h2 class="text-text text-xl mb-4 group-hover:text-accent_green">Countries API project</h2>

    <img class="object-cover max-w-lg tablet:max-w-md rounded-lg w-full" src={projectImg} alt="project-img">
    <p class="py-4 text-base">API project from Frontend Mentor with light/dark theme.</p>
    </article>
</a>



