:root {
 --color-primary1: hsl(0, 45%, 28%);
 --color-primary2: hsl(0 0% 98%);
 --color-secondary1: hsl(0, 0%, 52%);
 --color-text: hsl(200, 15%, 8%);
 --box-shadow: 1px 3px 27px -2px rgba(0, 0, 0, 0.21);
}

body {
 background-color: var(--color-primary1);
}

img {
    width: 100%;
    height: auto;
}