---
import '@styles/global.css'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import ToTop from '@components/ToTop.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Anders Iversen portfolio</title>
  </head>
  <body>
    <div class="overflow-x-hidden">
      <Header />
      <slot />
      <ToTop />
      <Footer />
    </div>
  </body>
</html>
