---
import '@styles/global.css'
import { ViewTransitions } from 'astro:transitions'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import ToTop from '@components/ToTop.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- <ViewTransitions /> -->
    <title>Anders Iversen</title>
  </head>
  <body>
    <div id="background_wrapper" class="overflow-x-hidden">
      <Header />
      <slot />
      <ToTop />
      <Footer />
    </div>
  </body>
</html>

<script>
  const desktopSize = 1024

  document.addEventListener('DOMContentLoaded', () => {
    addEventListener('mousemove', getCursorPos, false)
    addEventListener('resize', getViewportWidth, false)
  })

  function getCursorPos(p: { pageX: number; pageY: number }) {
    const backgroundWrapper = document.querySelector('#background_wrapper') as HTMLElement

    if (getViewportWidth() > desktopSize) {
      backgroundWrapper.style.background = `radial-gradient(600px at ${p.pageX}px ${p.pageY}px, rgba(82, 176, 163, 0.092), transparent 80%)`
    }
  }

  function getViewportWidth() {
    const vw = Math.max(
      document.documentElement.clientWidth || 0,
      window.innerWidth || 0,
    )
    return vw
  }
</script>
