---
import '@styles/global.css'
import { ViewTransitions } from 'astro:transitions'
import Header from '@components/Header.astro'
import ToTop from '@components/ToTop.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- <ViewTransitions /> -->
    <title>Anders Iversen portfolio</title>
  </head>
  <body>
    <div class="overflow-x-hidden">
      <Header />

      <main
        class="mt-8 grid justify-center content-center gap-3 tablet:justify-normal tablet:mx-12 2xl:ml-[12%]"
        data-aos="fade-up"
        data-aos-delay="150"
      >
        <slot />
      </main>

      <ToTop />
    </div>
  </body>
</html>
